<div class="col-lg-9 col-md-12">
  <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
    <div class="dash__pad-2">
      <h1 class="dash__h1 u-s-m-b-14">Edit Profile</h1>
      <span class="dash__text u-s-m-b-30">Looks like you haven't updated your profile</span>
      <div class="dash__link dash__link--secondary u-s-m-b-30">
        <a data-modal="modal" data-modal-id="#dash-newsletter">Subscribe Newsletter</a>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form class="dash-edit-p">
            <div class="u-s-m-b-30">
              <label class="gl-label" for="reg-fname">NAME *</label>
              <input class="input-text input-text--primary-style" type="text" id="reg-fname" placeholder="John" />
            </div>
            <div class="u-s-m-b-30">
              <label class="gl-label" for="reg-fname">BRAND *</label>
              <input class="input-text input-text--primary-style" type="text" id="reg-fname" placeholder="John" />
            </div>
            <div class="u-s-m-b-30">
              <label class="gl-label" for="reg-fname">CATEGORY *</label>
              <input class="input-text input-text--primary-style" type="text" id="reg-fname" placeholder="John" />
            </div>
            <div class="u-s-m-b-30">
              <label class="gl-label" for="reg-lname">PRICE *</label>
              <input class="input-text input-text--primary-style" type="text" id="reg-lname" placeholder="Doe" />
            </div>
            <div class="u-s-m-b-30">
              <label class="gl-label" for="reg-lname">STOCK *</label>
              <input class="input-text input-text--primary-style" type="text" id="reg-lname" placeholder="Doe" />
            </div>
            <div class="u-s-m-b-30">
              <label class="gl-label" for="reg-lname">IMAGE *</label>
              <input class="input-text input-text--primary-style" type="file" id="reg-lname" placeholder="Doe" />
            </div>
            <button class="btn btn--e-brand-b-2" type="submit">SAVE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
