{{!-- <footer>
  <div class="outer-footer">
    <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="outer-footer__content u-s-m-b-40">
              <span class="outer-footer__content-title">Contact Us</span>
              <div class="outer-footer__text-wrap"><i class="fas fa-home"></i>
                <span>4247 Ashford Drive Virginia VA-20006 USA</span></div>
              <div class="outer-footer__text-wrap"><i
                  class="fas fa-phone-volume"
                ></i>
                <span>(+0) 900 901 904</span></div>
              <div class="outer-footer__text-wrap"><i class="far fa-envelope"></i>
                <span>contact@domain.com</span></div>
              <div class="outer-footer__social">
                <ul>
                  <li>
                    <a class="s-fb--color-hover" href="#"><i
                        class="fab fa-facebook-f"
                      ></i></a></li>
                  <li>
                    <a class="s-tw--color-hover" href="#"><i
                        class="fab fa-twitter"
                      ></i></a></li>
                  <li>
                    <a class="s-youtube--color-hover" href="#"><i
                        class="fab fa-youtube"
                      ></i></a></li>
                  <li>
                    <a class="s-insta--color-hover" href="#"><i
                        class="fab fa-instagram"
                      ></i></a></li>
                  <li>
                    <a class="s-gplus--color-hover" href="#"><i
                        class="fab fa-google-plus-g"
                      ></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        {{!-- <div class="col-lg-4 col-md-6">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="outer-footer__content u-s-m-b-40">
                <span class="outer-footer__content-title">Information</span>
                <div class="outer-footer__list-wrap">
                  <ul>
                    <li>

                      <a href="cart.html">Cart</a></li>
                    <li>

                      <a href="dashboard.html">Account</a></li>
                    <li>

                      <a href="shop-side-version-2.html">Manufacturer</a></li>
                    <li>

                      <a href="dash-payment-option.html">Finance</a></li>
                    <li>

                      <a href="shop-side-version-2.html">Shop</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> --}}
        {{!-- <div class="col-lg-4 col-md-12">
          <div class="outer-footer__content">
            <span class="outer-footer__content-title">Join our Newsletter</span>
            <form class="newsletter">
              <div class="newsletter__group">
                <label for="newsletter"></label>
                <input
                  class="input-text input-text--only-white"
                  type="text"
                  id="newsletter"
                  placeholder="Enter your Email"
                />
                <button
                  class="btn btn--e-brand newsletter__bt"
                  type="submit"
                >SUBSCRIBE</button></div>
              <span class="newsletter__text">Subscribe to the mailing list to
                receive updates on promotions, new arrivals, discount and
                coupons.</span>
            </form>
          </div>
        </div> --}}
      </div>
    </div>
  </div>
</footer> --}}

<footer class="text-center bg-dark">
  <!-- Grid container -->
  {{!-- <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div> --}}
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(0, 0, 0);">
    © 2020 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">adharshkc2017</a>
  </div>
  <!-- Copyright -->
</footer>