

<footer class="text-center bg-dark">
  <!-- Grid container -->

  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(0, 0, 0);">
    © 2020 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">adharshkc2017</a>
  </div>
  <!-- Copyright -->
</footer>