<header class="header--style-1">

  <!--====== Nav 1 ======-->
  <nav class="primary-nav primary-nav-wrapper--border">
    <div class="container">

      <!--====== Primary Nav ======-->
      <div class="primary-nav">

        <!--====== Main Logo ======-->

        <a class="main-logo" href="/">

          <img src="/images/logo/logo-1.png" alt="" /></a>
        <!--====== End - Main Logo ======-->

        <!--====== Search Form ======-->
        <form class="main-form">

          <label for="main-search"></label>

          <input
            class="input-text input-text--border-radius input-text--style-1"
            type="text"
            id="main-search"
            placeholder="Search"
          />

          <button
            class="btn btn--icon fas fa-search main-search-button"
            type="submit"
          ></button></form>
        <!--====== End - Search Form ======-->

        <!--====== Dropdown Main plugin ======-->
        <div class="menu-init" id="navigation">

          <button
            class="btn btn--icon toggle-button toggle-button--secondary fas fa-cogs d-block d-lg-none"
            type="button"
          ></button>

          <!--====== Menu ======-->
          <div class="ah-lg-mode">

            <span class="ah-close">✕ Close</span>

            <!--====== List ======-->
            <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
              <li
                class="has-dropdown"
                data-tooltip="tooltip"
                data-placement="left"
                title="Account"
              >

                <a><i class="far fa-user-circle"></i></a>

                <!--====== Dropdown ======-->

                <span class="js-menu-toggle"></span>
                <ul style="width:120px">
                  {{#if isUser}}
                    <li>

                      <a href="/user_profile"><i
                          class="fas fa-user-circle u-s-m-r-6"
                        ></i>

                        <span>My Account</span></a></li>
                        <li>

                      <a href="/logout"><i
                          class="fas fa-lock-open u-s-m-r-6"
                        ></i>

                        <span>Signout</span></a></li>
                  {{else}}
                    <li>

                      <a href="/register"><i
                          class="fas fa-user-plus u-s-m-r-6"
                        ></i>

                        <span>Signup</span></a></li>
                    <li>

                      <a href="/login"><i class="fas fa-lock u-s-m-r-6"></i>

                        <span>Signin</span></a></li>
                    
                    {{!-- <li>

                      <a href="/user/profile"><i class="fa fa-user" aria-hidden="true"></i>

                        <span>Profile</span></a></li> --}}
                  {{/if}}
                </ul>
                <!--====== End - Dropdown ======-->
              </li>

              <li data-tooltip="tooltip" data-placement="left" title="Contact">

                <a href="tel:+0900901904"><i
                    class="fas fa-phone-volume"
                  ></i></a></li>
              <li data-tooltip="tooltip" data-placement="left" title="Mail">

                <a href="mailto:contact@domain.com"><i
                    class="far fa-envelope"
                  ></i></a></li>
            </ul>
            <!--====== End - List ======-->
          </div>
          <!--====== End - Menu ======-->
        </div>
        <!--====== End - Dropdown Main plugin ======-->
      </div>
      <!--====== End - Primary Nav ======-->
    </div>
  </nav>
  <!--====== End - Nav 1 ======-->

  <!--====== Nav 2 ======-->
  <nav class="secondary-nav-wrapper">
    <div class="container">

      <!--====== Secondary Nav ======-->
      <div class="secondary-nav">

        <!--====== Dropdown Main plugin ======-->

        <!--====== End - Dropdown Main plugin ======-->

        <!--====== Dropdown Main plugin ======-->
        <div class="menu-init" id="navigation2">

          <button
            class="btn btn--icon toggle-button toggle-button--secondary fas fa-cog d-block d-lg-none"
            type="button"
          ></button>

          <!--====== Menu ======-->
          <div class="ah-lg-mode">

            <span class="ah-close">✕ Close</span>

            <!--====== List ======-->
            <ul class="ah-list ah-list--design2 ah-list--link-color-secondary">
              <li>

                <a href="/products">NEW ARRIVALS</a></li>

              <li>

                <a href="/products">PRODUCTS</a></li>
              <li>

                <a href="shop-side-version-2.html">GIFT CARDS</a></li>
            </ul>
            <!--====== End - List ======-->
          </div>
          <!--====== End - Menu ======-->
        </div>
        <!--====== End - Dropdown Main plugin ======-->

        <!--====== Dropdown Main plugin ======-->
        <div class="menu-init" id="navigation3">

          

          <!--====== Menu ======-->
          <div class="ah-lg-mode">

            <span class="ah-close">✕ Close</span>

            <!--====== List ======-->
            <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">

              <li>

                <a href="wishlist.html"><i class="far fa-heart"></i></a></li>
              <li class="has-dropdown">

                <a class="mini-cart-shop-link" href="/cart"><i
                    class="fas fa-shopping-bag"
                  ></i>
                  <span class="total-item-round">2</span>

                  <span class="total-item-roun"></span></a>

              </li>
            </ul>
            <!--====== End - List ======-->
          </div>
          <!--====== End - Menu ======-->
        </div>
        <!--====== End - Dropdown Main plugin ======-->
      </div>
      <!--====== End - Secondary Nav ======-->
    </div>
  </nav>
  <!--====== End - Nav 2 ======-->
</header>