<html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="images/favicon.png" rel="shortcut icon" />
    <title>Ludus - Electronics, Apparel, Computers, Books, DVDs & more</title>

    <!--====== Google Font ======-->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800"
      rel="stylesheet"
    />

    <!--====== Vendor Css ======-->
    <link rel="stylesheet" href="css/vendor.css" />

    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" href="css/utility.css" />

    <!--====== App ======-->
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <style>
    body{ background:#eee; } .ui-w-40 { width: 40px !important; height: auto; }
    .card{ box-shadow: 0 1px 15px 1px rgba(52,40,104,.08); } .ui-product-color {
    display: inline-block; overflow: hidden; margin: .144em; width: .875rem;
    height: .875rem; border-radius: 10rem; -webkit-box-shadow: 0 0 0 1px
    rgba(0,0,0,0.15) inset; box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle; }
  </style>
  <body class="config">
    <div class="preloader is-active">
      <div class="preloader__wrap">

        <img class="preloader__img" src="images/preloader.png" alt="" /></div>
    </div>

    <!--====== Main App ======-->
    <div id="app">

      <!--====== Main Header ======-->
      <header class="header--style-1">

        <!--====== Nav 1 ======-->
        <nav class="primary-nav primary-nav-wrapper--border">
          <div class="container">

            <!--====== Primary Nav ======-->
            <div class="primary-nav">

              <!--====== Main Logo ======-->

              <a class="main-logo" href="index.html">

                <img src="images/logo/logo-1.png" alt="" /></a>
              <!--====== End - Main Logo ======-->

              <!--====== Search Form ======-->
              <form class="main-form">

                <label for="main-search"></label>

                <input
                  class="input-text input-text--border-radius input-text--style-1"
                  type="text"
                  id="main-search"
                  placeholder="Search"
                />

                <button
                  class="btn btn--icon fas fa-search main-search-button"
                  type="submit"
                ></button></form>
              <!--====== End - Search Form ======-->

              <!--====== Dropdown Main plugin ======-->
              <div class="menu-init" id="navigation">

                <button
                  class="btn btn--icon toggle-button toggle-button--secondary fas fa-cogs"
                  type="button"
                ></button>

                <!--====== Menu ======-->
                <div class="ah-lg-mode">

                  <span class="ah-close">✕ Close</span>

                  <!--====== List ======-->
                  <ul
                    class="ah-list ah-list--design1 ah-list--link-color-secondary"
                  >
                    <li
                      class="has-dropdown"
                      data-tooltip="tooltip"
                      data-placement="left"
                      title="Account"
                    >

                      <a><i class="far fa-user-circle"></i></a>

                      <!--====== Dropdown ======-->

                      <span class="js-menu-toggle"></span>
                      <ul style="width:120px">
                        {{#if user.isUser}}
                          <li>

                            <a href="dashboard.html"><i
                                class="fas fa-user-circle u-s-m-r-6"
                              ></i>

                              <span>My Account</span></a></li>
                        {{else}}
                          <li>

                            <a href="/register"><i
                                class="fas fa-user-plus u-s-m-r-6"
                              ></i>

                              <span>Signup</span></a></li>
                          <li>

                            <a href="/login"><i
                                class="fas fa-lock u-s-m-r-6"
                              ></i>

                              <span>Signin</span></a></li>
                          <li>

                            <a href="/logout"><i
                                class="fas fa-lock-open u-s-m-r-6"
                              ></i>

                              <span>Signout</span></a></li>
                        {{/if}}
                      </ul>
                      <!--====== End - Dropdown ======-->
                    </li>

                    <li
                      data-tooltip="tooltip"
                      data-placement="left"
                      title="Contact"
                    >

                      <a href="tel:+0900901904"><i
                          class="fas fa-phone-volume"
                        ></i></a></li>
                    <li
                      data-tooltip="tooltip"
                      data-placement="left"
                      title="Mail"
                    >

                      <a href="mailto:contact@domain.com"><i
                          class="far fa-envelope"
                        ></i></a></li>
                  </ul>
                  <!--====== End - List ======-->
                </div>
                <!--====== End - Menu ======-->
              </div>
              <!--====== End - Dropdown Main plugin ======-->
            </div>
            <!--====== End - Primary Nav ======-->
          </div>
        </nav>
        <!--====== End - Nav 1 ======-->

        <!--====== Nav 2 ======-->
        <nav class="secondary-nav-wrapper">
          <div class="container">

            <!--====== Secondary Nav ======-->
            <div class="secondary-nav">

              <!--====== Dropdown Main plugin ======-->

              <!--====== End - Dropdown Main plugin ======-->

              <!--====== Dropdown Main plugin ======-->
              <div class="menu-init" id="navigation2">

                <button
                  class="btn btn--icon toggle-button toggle-button--secondary fas fa-cog"
                  type="button"
                ></button>

                <!--====== Menu ======-->
                <div class="ah-lg-mode">

                  <span class="ah-close">✕ Close</span>

                  <!--====== List ======-->
                  <ul
                    class="ah-list ah-list--design2 ah-list--link-color-secondary"
                  >
                    <li>

                      <a href="shop-side-version-2.html">NEW ARRIVALS</a></li>
                    <li class="has-dropdown">

                      <a>PAGES<i class="fas fa-angle-down u-s-m-l-6"></i></a>

                      <!--====== Dropdown ======-->

                      <span class="js-menu-toggle"></span>
                      <ul style="width:170px">
                        <li class="has-dropdown has-dropdown--ul-left-100">

                          <a>Home<i
                              class="fas fa-angle-down i-state-right u-s-m-l-6"
                            ></i></a>

                          <!--====== Dropdown ======-->

                          <span class="js-menu-toggle"></span>
                          <ul style="width:118px">
                            <li>

                              <a href="index.html">Home 1</a></li>
                            <li>

                              <a href="index-2.html">Home 2</a></li>
                            <li>

                              <a href="index-3.html">Home 3</a></li>
                          </ul>
                          <!--====== End - Dropdown ======-->
                        </li>
                        <li class="has-dropdown has-dropdown--ul-left-100">

                          <a>Account<i
                              class="fas fa-angle-down i-state-right u-s-m-l-6"
                            ></i></a>

                          <!--====== Dropdown ======-->

                          <span class="js-menu-toggle"></span>
                          <ul style="width:200px">
                            <li>

                              <a href="signin.html">Signin / Already Registered</a></li>
                            <li>

                              <a href="signup.html">Signup / Register</a></li>
                            <li>

                              <a href="lost-password.html">Lost Password</a></li>
                          </ul>
                          <!--====== End - Dropdown ======-->
                        </li>
                        <li class="has-dropdown has-dropdown--ul-left-100">

                          <a href="dashboard.html">Dashboard<i
                              class="fas fa-angle-down i-state-right u-s-m-l-6"
                            ></i></a>

                          <!--====== Dropdown ======-->

                          <span class="js-menu-toggle"></span>
                          <ul style="width:200px">
                            <li class="has-dropdown has-dropdown--ul-left-100">

                              <a href="dashboard.html">Manage My Account<i
                                  class="fas fa-angle-down i-state-right u-s-m-l-6"
                                ></i></a>

                              <!--====== Dropdown ======-->

                              <span class="js-menu-toggle"></span>
                              <ul style="width:180px">
                                <li>

                                  <a href="dash-edit-profile.html">Edit Profile</a></li>
                                <li>

                                  <a href="dash-address-book.html">Edit Address
                                    Book</a></li>
                                <li>

                                  <a href="dash-manage-order.html">Manage Order</a></li>
                              </ul>
                              <!--====== End - Dropdown ======-->
                            </li>
                            <li>

                              <a href="dash-my-profile.html">My Profile</a></li>
                            <li class="has-dropdown has-dropdown--ul-left-100">

                              <a href="dash-address-book.html">Address Book<i
                                  class="fas fa-angle-down i-state-right u-s-m-l-6"
                                ></i></a>

                              <!--====== Dropdown ======-->

                              <span class="js-menu-toggle"></span>
                              <ul style="width:180px">
                                <li>

                                  <a
                                    href="dash-address-make-default.html"
                                  >Address Make Default</a></li>
                                <li>

                                  <a href="dash-address-add.html">Add New
                                    Address</a></li>
                                <li>

                                  <a href="dash-address-edit.html">Edit Address
                                    Book</a></li>
                              </ul>
                              <!--====== End - Dropdown ======-->
                            </li>
                            <li>

                              <a href="dash-track-order.html">Track Order</a></li>
                            <li>

                              <a href="dash-my-order.html">My Orders</a></li>
                            <li>

                              <a href="dash-payment-option.html">My Payment
                                Options</a></li>
                            <li>

                              <a href="dash-cancellation.html">My Returns &
                                Cancellations</a></li>
                          </ul>
                          <!--====== End - Dropdown ======-->
                        </li>
                        <li class="has-dropdown has-dropdown--ul-left-100">

                          <a>Empty<i
                              class="fas fa-angle-down i-state-right u-s-m-l-6"
                            ></i></a>

                          <!--====== Dropdown ======-->

                          <span class="js-menu-toggle"></span>
                          <ul style="width:200px">
                            <li>

                              <a href="empty-search.html">Empty Search</a></li>
                            <li>

                              <a href="empty-cart.html">Empty Cart</a></li>
                            <li>

                              <a href="empty-wishlist.html">Empty Wishlist</a></li>
                          </ul>
                          <!--====== End - Dropdown ======-->
                        </li>
                        <li class="has-dropdown has-dropdown--ul-left-100">

                          <a>Product Details<i
                              class="fas fa-angle-down i-state-right u-s-m-l-6"
                            ></i></a>

                          <!--====== Dropdown ======-->

                          <span class="js-menu-toggle"></span>
                          <ul style="width:200px">
                            <li>

                              <a href="product-detail.html">Product Details</a></li>
                            <li>

                              <a href="product-detail-variable.html">Product
                                Details Variable</a></li>
                            <li>

                              <a href="product-detail-affiliate.html">Product
                                Details Affiliate</a></li>
                          </ul>
                          <!--====== End - Dropdown ======-->
                        </li>
                        <li class="has-dropdown has-dropdown--ul-left-100">

                          <a>Shop Grid Layout<i
                              class="fas fa-angle-down i-state-right u-s-m-l-6"
                            ></i></a>

                          <!--====== Dropdown ======-->

                          <span class="js-menu-toggle"></span>
                          <ul style="width:200px">
                            <li>

                              <a href="shop-grid-left.html">Shop Grid Left
                                Sidebar</a></li>
                            <li>

                              <a href="shop-grid-right.html">Shop Grid Right
                                Sidebar</a></li>
                            <li>

                              <a href="shop-grid-full.html">Shop Grid Full Width</a></li>
                            <li>

                              <a href="shop-side-version-2.html">Shop Side
                                Version 2</a></li>
                          </ul>
                          <!--====== End - Dropdown ======-->
                        </li>
                        <li class="has-dropdown has-dropdown--ul-left-100">

                          <a>Shop List Layout<i
                              class="fas fa-angle-down i-state-right u-s-m-l-6"
                            ></i></a>

                          <!--====== Dropdown ======-->

                          <span class="js-menu-toggle"></span>
                          <ul style="width:200px">
                            <li>

                              <a href="shop-list-left.html">Shop List Left
                                Sidebar</a></li>
                            <li>

                              <a href="shop-list-right.html">Shop List Right
                                Sidebar</a></li>
                            <li>

                              <a href="shop-list-full.html">Shop List Full Width</a></li>
                          </ul>
                          <!--====== End - Dropdown ======-->
                        </li>
                        <li>

                          <a href="cart.html">Cart</a></li>
                        <li>

                          <a href="wishlist.html">Wishlist</a></li>
                        <li>

                          <a href="checkout.html">Checkout</a></li>
                        <li>

                          <a href="faq.html">FAQ</a></li>
                        <li>

                          <a href="about.html">About us</a></li>
                        <li>

                          <a href="contact.html">Contact</a></li>
                        <li>

                          <a href="404.html">404</a></li>
                      </ul>
                      <!--====== End - Dropdown ======-->
                    </li>
                    <li class="has-dropdown">

                      <a>BLOG</a>

                      <!--====== Dropdown ======-->

                      <!--====== End - Dropdown ======-->
                    </li>
                    <li>

                      <a href="shop-side-version-2.html">VALUE OF THE DAY</a></li>
                    <li>

                      <a href="shop-side-version-2.html">GIFT CARDS</a></li>
                  </ul>
                  <!--====== End - List ======-->
                </div>
                <!--====== End - Menu ======-->
              </div>
              <!--====== End - Dropdown Main plugin ======-->

              <!--====== Dropdown Main plugin ======-->
              <div class="menu-init" id="navigation3">

                <button
                  class="btn btn--icon toggle-button toggle-button--secondary fas fa-shopping-bag toggle-button-shop"
                  type="button"
                ></button>

                <span class="total-item-round">2</span>

                <!--====== Menu ======-->
                <div class="ah-lg-mode">

                  <span class="ah-close">✕ Close</span>

                  <!--====== List ======-->
                  <ul
                    class="ah-list ah-list--design1 ah-list--link-color-secondary"
                  >
                    <li>

                      <a href="index.html"><i
                          class="fas fa-home u-c-brand"
                        ></i></a></li>
                    <li>

                      <a href="wishlist.html"><i
                          class="far fa-heart"
                        ></i></a></li>
                    <li class="has-dropdown">

                      <a class="mini-cart-shop-link"><i
                          class="fas fa-shopping-bag"
                        ></i>

                        <span class="total-item-round">2</span></a>

                      <!--====== Dropdown ======-->

                      <span class="js-menu-toggle"></span>

                      <!--====== End - Dropdown ======-->
                    </li>
                  </ul>
                  <!--====== End - List ======-->
                </div>
                <!--====== End - Menu ======-->
              </div>
              <!--====== End - Dropdown Main plugin ======-->
            </div>
            <!--====== End - Secondary Nav ======-->
          </div>
        </nav>
        <!--====== End - Nav 2 ======-->
      </header>
      <!--====== End - Main Header ======-->

      <!--====== App Content ======-->
      <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-10">

          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                  <ul class="breadcrumb__list">
                    <li class="has-separator">

                      <a href="index.html">Home</a></li>
                    <li class="is-marked">

                      <a href="cart.html">Cart</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--====== Section Content ======-->
        <div class="container px-3 clearfix">
          <!-- Shopping cart table -->
          <div class="card">
            <div class="card-header">
              <h2>Shopping Cart</h2>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered m-0">
                  <thead>
                    <tr>
                      <!-- Set columns width -->
                      <th
                        class="text-center py-3 px-4"
                        style="min-width: 400px;"
                      >Product Name &amp; Details</th>
                      <th
                        class="text-right py-3 px-4"
                        style="width: 100px;"
                      >Price</th>
                      <th
                        class="text-center py-3 px-4"
                        style="width: 120px;"
                      >Quantity</th>
                      <th
                        class="text-right py-3 px-4"
                        style="width: 100px;"
                      >Total</th>
                      <th
                        class="text-center align-middle py-3 px-0"
                        style="width: 40px;"
                      ><a
                          href="#"
                          class="shop-tooltip float-none text-light"
                          title=""
                          data-original-title="Clear cart"
                        ><i class="ino ion-md-trash"></i></a></th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td class="p-4">
                        <div class="media align-items-center">
                          <img
                            src="https://bootdey.com/img/Content/avatar/avatar1.png"
                            class="d-block ui-w-40 ui-bordered mr-4"
                            alt=""
                          />
                          <div class="media-body">
                            <a href="#" class="d-block text-dark">Product 1</a>
                            <small>
                              <span class="text-muted">Color:</span>
                              <span
                                class="ui-product-color ui-product-color-sm align-text-bottom"
                                style="background:#e81e2c;"
                              ></span>
                              &nbsp;
                              <span class="text-muted">Size: </span>
                              EU 37 &nbsp;
                              <span class="text-muted">Ships from: </span>
                              China
                            </small>
                          </div>
                        </div>
                      </td>
                      <td
                        class="text-right font-weight-semibold align-middle p-4"
                      >$57.55</td>
                      <td class="align-middle p-4"><input
                          type="text"
                          class="form-control text-center"
                          value="2"
                        /></td>
                      <td
                        class="text-right font-weight-semibold align-middle p-4"
                      >$115.1</td>
                      <td class="text-center align-middle px-0"><a
                          href="#"
                          class="shop-tooltip close float-none text-danger"
                          title=""
                          data-original-title="Remove"
                        >×</a></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <!-- / Shopping cart table -->

              <div
                class="d-flex flex-wrap justify-content-between align-items-center pb-4"
              >

                <div class="d-flex">
                  <div class="text-right mt-4 mr-5">
                    <label
                      class="text-muted font-weight-normal m-0"
                    >Discount</label>
                    <div class="text-large"><strong>$20</strong></div>
                  </div>
                  <div class="text-right mt-4">
                    <label class="text-muted font-weight-normal m-0">Total price</label>
                    <div class="text-large"><strong>$1164.65</strong></div>
                  </div>
                </div>
              </div>

              <div class="float-right">
                <button
                  type="button"
                  class="btn btn-lg btn-default md-btn-flat mt-2 mr-3"
                >Back to shopping</button>
                <button
                  type="button"
                  class="btn btn-lg btn-primary mt-2"
                >Checkout</button>
              </div>

            </div>
          </div>
        </div>

        <!--====== End - Section Content ======-->
      </div>

    </div>
    <!--====== End - Main App ======-->

    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <script>
      window.ga = function() { ga.q.push(arguments) }; ga.q = []; ga.l = +new
      Date; ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
    </script>
    <script
      src="https://www.google-analytics.com/analytics.js"
      async
      defer
    ></script>

    <!--====== Vendor Js ======-->
    <script src="js/vendor.js"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src="js/jquery.shopnav.js"></script>

    <!--====== App ======-->
    <script src="js/app.js"></script>

    <!--====== Noscript ======-->
    <noscript>
      <div class="app-setting">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="app-setting__wrap">
                <h1 class="app-setting__h1">JavaScript is disabled in your
                  browser.</h1>

                <span class="app-setting__text">Please enable JavaScript in your
                  browser or upgrade to a JavaScript-capable browser.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </noscript>
  </body>
</html>