{{! <style>
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
  *:focus { outline: none; } body { margin: 0; padding: 0; background:
  rgb(2,0,36); background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
  rgba(2,89,89,1) 29%, rgba(9,96,121,1) 68%, rgba(22,115,134,1) 100%);
  font-size: 16px; color: #222; font-family: 'Roboto', sans-serif; font-weight:
  300; } #login-box { position: relative; margin: 5% auto; width: 600px; height:
  400px; background: #FFF; border-radius: 2px; box-shadow: 0 2px 4px rgba(0, 0,
  0, 0.4); } .left { position: absolute; top: 0; left: 0; box-sizing:
  border-box; padding: 40px; width: 300px; height: 400px; } h1 { margin: 0 0
  20px 0; font-weight: 300; font-size: 28px; } input[type="text"],
  input[type="password"] { display: block; box-sizing: border-box;
  margin-bottom: 20px; padding: 4px; width: 220px; height: 32px; border: none;
  border-bottom: 1px solid #AAA; font-family: 'Roboto', sans-serif; font-weight:
  400; font-size: 15px; transition: 0.2s ease; } input[type="text"]:focus,
  input[type="password"]:focus { border-bottom: 2px solid #16a085; color:
  #16a085; transition: 0.2s ease; } button{ margin-top: 28px; width: 120px;
  height: 32px; background: #16a085; border: none; border-radius: 2px; color:
  #FFF; font-family: 'Roboto', sans-serif; font-weight: 500; text-transform:
  uppercase; transition: 0.1s ease; cursor: pointer; } button:hover,
  button:focus { opacity: 0.8; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease; } input[type="submit"]:active { opacity: 1; box-shadow:
  0 1px 2px rgba(0, 0, 0, 0.4); transition: 0.1s ease; } .or { position:
  absolute; top: 130px; left: 280px; width: 40px; height: 40px; background:
  #DDD; border-radius: 50%; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px; text-align: center; } .right { position: absolute; top: 0;
  right: 0; box-sizing: border-box; padding: 40px; width: 300px; height: 400px;
  background: url('https://goo.gl/YbktSj'); background-size: cover;
  background-position: center; border-radius: 0 2px 2px 0; } .right .loginwith {
  display: block; margin-bottom: -45px; font-size: 28px; color: #FFF;
  text-align: center; } button.social-signin { width: 220px; height: 36px;
  border: none; border-radius: 2px; color: #FFF; font-family: 'Roboto',
  sans-serif; font-weight: 500; transition: 0.2s ease; cursor: pointer; }
  button.social-signin:hover, button.social-signin:focus { box-shadow: 0 2px 4px
  rgba(0, 0, 0, 0.4); transition: 0.2s ease; } button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); transition: 0.2s ease; }
  button.social-signin.facebook { background: #32508E; }
  button.social-signin.twitter { background: #55ACEE; }
  button.social-signin.google { background: #DD4B39; }
</style> }}
{{!-- {{> header}} --}}

{{!-- <div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div id="login-box" class="d-flex">
        <div class="left">
          <h1 class="section__heading u-c-secondary">LOGIN</h1>
          <form method="post" action="/user_signin">

            <input type="text" name="email" placeholder="E-mail" />
            <input type="password" name="password" placeholder="Password" />

            <button
              type="submit"
              name="signup_submit"
              value="Sign me up"
              style="margin-bottom: 10%;"
            >Login</button>
          </form>
          <a
            style="color: rgb(3, 86, 3); margin-top: 2%; font-weight: 400;"
            href="/register"
          >New Customer?</a>
          <h4 class="text-danger">{{errorMessage}}</h4>

        </div>

        <div class="right">
          <span class="loginwith">Sign in with<br />social network</span>

          <a href="/login/federated/facebook">
            <button class="social-signin facebook">Log in with facebook</button>
          </a>
          <a href="/auth/google"><button class="social-signin google">Log in
              with Google+</button></a>
        </div>
        <div class="or">OR</div>
      </div>
    </div>
  </div>
</div> --}}

<style>
  body{
background: #c9ccd1; 
}
.form-style input{
	border:0;
	height:50px;
	border-radius:0;
  color: #000000;
border-bottom:1px solid #ebebeb;	
}
.form-style input:focus{
border-bottom:1px solid #007bff;	
box-shadow:none;
outline:0;
color: #000000;
background-color:#ebebeb;	
}
.sideline {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
	color:#000000;
}
button{
height:50px;	
}
.sideline:before,
.sideline:after {
    content: '';
    border-top: 1px solid #ebebeb;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.sideline:after {
    margin: 0 0 0 20px;
}
</style>

<script src="https://use.fontawesome.com/f59bcd8580.js"></script>
<div class="container">
  <div class="row m-5 no-gutters shadow-lg">
    <div class="col-md-6 d-none d-md-block">
      <img
        src="https://images.unsplash.com/photo-1566888596782-c7f41cc184c5?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80"
        class="img-fluid"
        style="min-height:100%;"
      />
    </div>
    <div class="col-md-6 bg-white p-5">
      <h2 class="pb-3 fw-bolder">Login</h2>
      <div class="form-style">
        <form method="post" action="/user_signin">
          <div class="form-group pb-3">
            <input
              type="email"
              placeholder="Email"
              name="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group pb-3">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="pb-2">
            <button
              type="submit"
              class="btn btn-dark w-100 font-weight-bold mt-2"
            >Submit</button>
          </div>
        </form>
        <div class="sideline">OR</div>
        <div>
          <a href="/auth/google">
          <button
            type="submit"
            class="btn btn-primary w-100 font-weight-bold mt-2" style="background-color: #DB4437; border: none;"
          ><i class="ti ti-brand-google"></i>
            Login With Google</button>
          </a>
          <a href="/login/federated/facebook">
          <button
            type="submit"
            class="btn btn-primary w-100 font-weight-bold mt-2" style="background-color: #316FF6;"
          ><i class="ti ti-brand-meta"></i>
            Login With Facebook</button>
          </a>
        </div>
        <div class="pt-4 text-center text-dark">
          New User?
          <a href="/register" style="color: blue;">Sign Up</a>
        </div>
      </div>

    </div>
  </div>
</div>