{{!-- {{> header}} --}}

<div class="app-content">

  <!--====== Section 1 ======-->
  <div class="u-s-p-y-1">

    <!--====== Section Content ======-->
    {{!-- <div class="section__content">
      <div class="container">
        <div class="breadcrumb">
          <div class="breadcrumb__wrap">
            <ul class="breadcrumb__list">
              <li class="has-separator">

                <a href=""></a></li>
              <li class="is-marked">

                <p
                  style="color: #333333; font-size: 13px; font-weight: 700"
                  href="/register"
                ></p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> --}}
  <!--====== End - Section 1 ======-->

  <!--====== Section 2 ======-->
  <div class="u-s-p-t-30 ">

    <!--====== Section Intro ======-->
    <div class="section__intro u-s-m-b-10">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section__text-wrap">
              <h1 class="section__heading u-c-secondary">LOGIN TO YOUR ACCOUNT</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== End - Section Intro ======-->

    <!--====== Section Content ======-->
    <div class="section__content">
      <div class="container">
        <div class="row row--center">
          <div class="col-lg-6 col-md-8 u-s-m-b-30">
            <div class="l-f-o">
              <div class="l-f-o__pad-box">
                <h1 class="gl-h1">I'M NEW CUSTOMER</h1>
                <div class="u-s-m-b-15">
                  <a
                    class="l-f-o__create-link btn--e-transparent-brand-b-2"
                    href="/register"
                  >CREATE AN ACCOUNT</a></div>
                {{!-- <h1 class="gl-h1 font-weight-bold">SIGNIN</h1> --}}

               
                <form class="l-f-o__form" method="post" action="/user_signin">

                  <div class="u-s-m-b-30">

                    <label class="gl-label" for="login-email">E-MAIL *</label>

                    <input
                      class="input-text input-text--primary-style text-dark"
                      type="text"
                      id="login-email"
                      name="email"
                      placeholder="Enter E-mail"
                    /></div>
                  <div class="u-s-m-b-30">

                    <label class="gl-label" for="login-password">PASSWORD *</label>

                    <input
                      class="input-text input-text--primary-style"
                      type="password"
                      id="login-password"
                      name="password"
                      placeholder="Enter Password"
                    /></div>
                  <div class="gl-inline">
                    <div class="u-s-m-b-30">

                      <button
                        class="btn btn--e-transparent-brand-b-2"
                        type="submit"
                      >LOGIN</button></div>
                  </div>
                    <h6 class="text-center mb-3">OR</h6>
                  <div class="gl-s-api">
                    <div class="u-s-m-b-15">
                      <a class="gl-s-api__btn gl-s-api__btn--fb text-white" type="button"><i class="fab fa-facebook-f"></i>
                        <span>Signin with Facebook</span></a></div>
                    <div class="u-s-m-b-15">
                      <a href="/auth/google" class="gl-s-api__btn gl-s-api__btn--gplus text-white" type="button"><i class="fab fa-google"></i>
                      <span>Signin with Google</span></a></div>
                  </div>
                      <h4 class="text-danger">{{errorMessage}}</h4>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== End - Section Content ======-->
  </div>
  <!--====== End - Section 2 ======-->
</div>

{{!-- {{> footer}} --}}