{{!-- <style>
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,89,89,1) 29%, rgba(9,96,121,1) 68%, rgba(22,115,134,1) 100%);
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 480px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;480px
  transition: 0.2s ease;
}

button{
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

button:hover,
button:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 4px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

button.social-signin {
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}
</style> --}}

{{!-- <div class="app-content">
  <div id="login-box">
  <div class="left">
     <h1 class="section__heading u-c-secondary">REGISTER</h1>
    <form method="post" action="/user_registration">

    <input type="text" name="name" placeholder="Full Name" id="name" />
    <input type="text" name="email" placeholder="E-mail" id="email" />
    <input type="text" name="phone" placeholder="Phone" id="phone" />
    <input type="password" name="password" placeholder="Password" id="password"/>
    
    <button type="submit" name="signup_submit" value="Sign me up" style="margin-bottom: 10%;" />REGISTER</button>
    </form>
    <a style="color: rgb(3, 86, 3); margin-top: 2%; font-weight: 400;" href="/login">Existing Customer?</a>
    <h4 style="color: red;" id="errorMessage">{{errorMessage}}</h4>
    
  </div>
  
  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>
    
   <a href="/login/federated/facebook">
    <button class="social-signin facebook">Log in with facebook</button>
   </a> 
    <a href="/auth/google" ><button class="social-signin google">Log in with Google+</button></a>
  </div>
  <div class="or">OR</div>
</div>
</div> --}}

<!-- Login 11 - Bootstrap Brain Component -->
{{!-- 
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-5">
          <h2 class="display-5 fw-bold text-center">Sign in</h2>
          <p class="text-center m-0">Don't have an account? <a href="#!">Sign up</a></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="row gy-5 justify-content-center">
          <div class="col-12 col-lg-5">
            <form action="#!">
              <div class="row gy-3 overflow-hidden">
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control border-0 border-bottom rounded-0" name="email" id="email" placeholder="name@example.com" required>
                    <label for="email" class="form-label">Email</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control border-0 border-bottom rounded-0" name="password" id="password" value="" placeholder="Password" required>
                    <label for="password" class="form-label">Password</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row justify-content-between">
                    <div class="col-6">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" name="remember_me" id="remember_me">
                        <label class="form-check-label text-secondary" for="remember_me">
                          Remember me
                        </label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="text-end">
                        <a href="#!" class="link-secondary text-decoration-none">Forgot password?</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-primary btn-lg" type="submit">Log in</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center gap-3 flex-lg-column">
            <div class="bg-dark h-100 d-none d-lg-block" style="width: 1px; --bs-bg-opacity: .1;"></div>
            <div class="bg-dark w-100 d-lg-none" style="height: 1px; --bs-bg-opacity: .1;"></div>
            <div>or</div>
            <div class="bg-dark h-100 d-none d-lg-block" style="width: 1px; --bs-bg-opacity: .1;"></div>
            <div class="bg-dark w-100 d-lg-none" style="height: 1px; --bs-bg-opacity: .1;"></div>
          </div>
          <div class="col-12 col-lg-5 d-flex align-items-center">
            <div class="d-flex gap-3 flex-column w-100 ">
              <a href="#!" class="btn btn-lg btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                  <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                </svg>
                <span class="ms-2 fs-6">Sign in with Google</span>
              </a>
              <a href="#!" class="btn btn-lg btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                </svg>
                <span class="ms-2 fs-6">Sign in with Facebook</span>
              </a>
              <a href="#!" class="btn btn-lg btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-apple" viewBox="0 0 16 16">
                  <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282Z" />
                  <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282Z" />
                </svg>
                <span class="ms-2 fs-6">Sign in with Apple</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 --}}

<style>
  body{
background: #c9ccd1; 
}
.form-style input{
	border:0;
	height:50px;
	border-radius:0;
  color: #000000;
border-bottom:1px solid #ebebeb;	
}
.form-style input:focus{
border-bottom:1px solid #007bff;	
box-shadow:none;
outline:0;
color: #000000;
background-color:#ebebeb;	
}
.sideline {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
	color:#000000;
}
button{
height:50px;	
}
.sideline:before,
.sideline:after {
    content: '';
    border-top: 1px solid #ebebeb;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.sideline:after {
    margin: 0 0 0 20px;
}
</style>


 <script src="https://use.fontawesome.com/f59bcd8580.js"></script>
<div class="container">
  <div class="row m-5 no-gutters shadow-lg">
    <div class="col-md-6 d-none d-md-block">
      <img
        src="https://images.unsplash.com/photo-1566888596782-c7f41cc184c5?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80"
        class="img-fluid"
        style="min-height:100%;"
      />
    </div>
    <div class="col-md-6 bg-white p-5">
      <h2 class="pb-3 fw-bolder">Register</h2>
      <h6 style="color: red;" id="errorMessage">{{errorMessage}}</h6> 
      <div class="form-style">
        <form  method="post" action="/user_registration">
          <div class="form-group pb-3">
            <input
              type="text"
              placeholder="Name"
              name="name"
              class="form-control"
              id="name"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group pb-3">
            <input
              type="email"
              placeholder="Email"
              name="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group pb-3">
            <input
              type="text" name="phone" placeholder="Phone" id="phone"
              class="form-control"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group pb-3">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="pb-2">
            <button
              type="submit"
              class="btn btn-dark w-100 font-weight-bold mt-2"
            >Submit</button>
          </div>
        </form>
        <div class="sideline">OR</div>
        <div>
          <a href="/auth/google">
          <button
            type="submit"
            class="btn btn-primary w-100 font-weight-bold mt-2" style="background-color: #DB4437; border: none;"
          ><i class="ti ti-brand-google"></i>
            Login With Google</button>
          </a>
          <a href="/login/federated/facebook">
          <button
            type="submit"
            class="btn btn-primary w-100 font-weight-bold mt-2" style="background-color: #316FF6;"
          ><i class="ti ti-brand-meta"></i>
            Login With Facebook</button>
          </a>
        </div>
        <div class="pt-4 text-center text-dark">
          Have an Account?
          <a href="/login" style="color: blue;">Sign Up</a>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function() {
    $("form").submit(function(event) {
      var errorMessageElement = $("#errorMessage");
      errorMessageElement.text(""); // Clear previous error messages

      // Validate Name
      var name = $("#name").val();
      if (name.length < 4) {
        errorMessageElement.text("Name should be more than 4 characters.");
        event.preventDefault();
        return;
      }

      // Validate Email
      var email = $("#email").val();
      if (email.length < 5 || email.length > 64) {
        errorMessageElement.text("Email should be between 5 and 64 characters.");
        event.preventDefault();
        return;
      }

      // Validate Password
      var password = $("#password").val();
      if (password.length < 5) {
        errorMessageElement.text("Password should be more than 4 characters.");
        event.preventDefault();
        return;
      }

      // Validate Phone Number
      var phone = $("#phone").val();
      if (phone.length !== 10 || isNaN(phone)) {
        errorMessageElement.text("Phone number should be 10 characters and only numeric.");
        event.preventDefault();
        return;
      }
    });

    // Toggle Password Visibility
    $("#togglePassword").click(function() {
      var passwordInput = $("#reg-password");
      var type = passwordInput.attr("type") === "password" ? "text" : "password";
      passwordInput.attr("type", type);
    });
  });
</script>


