<style>
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,89,89,1) 29%, rgba(9,96,121,1) 68%, rgba(22,115,134,1) 100%);
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 480px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;480px
  transition: 0.2s ease;
}

button{
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

button:hover,
button:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 4px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

button.social-signin {
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}
</style>

<div class="app-content">
  <div id="login-box">
  <div class="left">
     <h1 class="section__heading u-c-secondary">REGISTER</h1>
    <form method="post" action="/user_registration">

    <input type="text" name="name" placeholder="Full Name" id="name" />
    <input type="text" name="email" placeholder="E-mail" id="email" />
    <input type="text" name="phone" placeholder="Phone" id="phone" />
    <input type="password" name="password" placeholder="Password" id="password"/>
    
    <button type="submit" name="signup_submit" value="Sign me up" style="margin-bottom: 10%;" />REGISTER</button>
    </form>
    <a style="color: rgb(3, 86, 3); margin-top: 2%; font-weight: 400;" href="/login">Existing Customer?</a>
    <h4 style="color: red;" id="errorMessage">{{errorMessage}}</h4>
    
  </div>
  
  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>
    
   <a href="/login/federated/facebook">
    <button class="social-signin facebook">Log in with facebook</button>
   </a> 
    <a href="/auth/google" ><button class="social-signin google">Log in with Google+</button></a>
  </div>
  <div class="or">OR</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function() {
    $("form").submit(function(event) {
      var errorMessageElement = $("#errorMessage");
      errorMessageElement.text(""); // Clear previous error messages

      // Validate Name
      var name = $("#name").val();
      if (name.length < 4) {
        errorMessageElement.text("Name should be more than 4 characters.");
        event.preventDefault();
        return;
      }

      // Validate Email
      var email = $("#email").val();
      if (email.length < 5 || email.length > 64) {
        errorMessageElement.text("Email should be between 5 and 64 characters.");
        event.preventDefault();
        return;
      }

      // Validate Password
      var password = $("#password").val();
      if (password.length < 5) {
        errorMessageElement.text("Password should be more than 4 characters.");
        event.preventDefault();
        return;
      }

      // Validate Phone Number
      var phone = $("#phone").val();
      if (phone.length !== 10 || isNaN(phone)) {
        errorMessageElement.text("Phone number should be 10 characters and only numeric.");
        event.preventDefault();
        return;
      }
    });

    // Toggle Password Visibility
    $("#togglePassword").click(function() {
      var passwordInput = $("#reg-password");
      var type = passwordInput.attr("type") === "password" ? "text" : "password";
      passwordInput.attr("type", type);
    });
  });
</script>


